body {
    font-family: Arial, sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    padding: 15px; /* Increased padding for a bigger navbar */
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px; /* Adjust the padding for buttons */
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.navbar .right-nav {
    text-align: right;
    display: flex;
}

.navbar .center-nav {
    display: flex;
}

.navbar .center-nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar .center-nav a:hover {
    background-color: #0056b3;
}

.navbar a:hover {
    background-color: #0056b3;
}

.search-box {
    display: flex;
}

.search-box input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-box button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    flex: 1;
    padding: 20px;
}

.profile-name {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0;
}

.status {
    color: #24AADB;
    font-weight: bold;
    margin: 5px 0;
}

.settings-button, .friend-button, .message-button {
    background-color: #24AADB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.settings-button {
    background-color: #24DB82; /* Green color for settings button */
}

.friend-button:hover, .message-button:hover, .settings-button:hover {
    background-color: #244EDB; /* Darken the background on hover */
}

.description {
    margin: 20px 0;
}

.post {
    border: 1px solid #24AADB;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.post-info {
    color: #24AADB;
    font-size: 12px;
}

.post-text {
    margin: 10px 0;
}

.like-button, .comment-button {
    background-color: #244EDB;
    color: white;
    padding: 10px 20px; /* Adjust the button size */
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.like-button:hover, .comment-button:hover {
    background-color: #24AADB; /* Darken the background on hover */
}

.post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0; /* Add margin for separation */
}

.quantity-friends {
    text-decoration: none;
    background-color: #24AADB;
    color: white;
    padding: 8px 20px; /* Adjust the button size */
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.quantity-friends:hover {
    background-color: #244EDB;
}

.comment-section {
    background-color: #f5f5f5;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.comment {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.comment .user-info {
    display: flex;
    align-items: center;
}

.comment .user-info .mini-avatar {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .user-info .user-nickname a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.comment .comment-text {
    margin-top: 5px;
}

/* Style for the comment input field */
.comment-input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.settings-button a, .friend-button a, .message-button a {
    color: inherit
}

.no-underline {
  text-decoration: none;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
}

.mini-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.show-more-container {
    text-align: center; /* Выравнивание по центру */
    background-color: #333; /* Цвет фона */
    padding: 10px; /* Отступ вокруг контейнера */
    border-radius: 5px; /* Закругленные углы */
}

.show-more-link {
    color: white; /* Цвет текста белый */
    text-decoration: none; /* Убрать подчеркивание ссылки */
    font-weight: bold; /* Жирный шрифт */
}

.show-more-link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.delete-button {
    background-color: #ff5733; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругляем углы */
    cursor: pointer; /* Курсор при наведении */
    font-weight: bold; /* Жирный шрифт */
    transition: background-color 0.3s ease; /* Анимация изменения цвета фона при наведении */
}

.delete-button:hover {
    background-color: #ff3317; /* Новый цвет фона при наведении */
}

/* Если вы хотите добавить немного тени */
.delete-button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}