DEBUG=
SECRET_KEY=
DOMAIN_NAME=

REDIS_HOST=
REDIS_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
SERVER_EMAIL=
DEFAULT_FROM_EMAIL=