{% extends 'blog/base_page.html' %}
{% load static %}

{% block title %}
    <title>Feed Page</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'chat/css/chat_page_style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="user-profile">
        <h2 class="username">Chat</h2>
    </div>
    <div class="chat-box">
        <div class="chat-messages" id="chat-messages">
            {% for message in messages %}
                <div class="message">
                    <div class="message-content">
                        <span class="nickname">{{ message.user.username }}</span>: {{ message.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="message-input">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Type your message" id="chat-message">
                <button id="chat-message-submit">Send</button>
            </form>
        </div>
    </div>
</div>

{% block scripts %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}

    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            console.log('onmessage')

            const data = JSON.parse(e.data);

            if (data.message) {
                let html = '<div class="message">';
                html += '<div class="message-content">';
                html += '<span class="nickname">' + data.username
                html += '</span>: ' + data.message + '</div>' + '</div>';

                document.querySelector('#chat-messages').innerHTML += html;

                scrollToBottom();
            } else {
                alert('The message was empty')
            }
        }

        chatSocket.onclose = function (e) {
            console.log('onclose')
        }

        //

        document.querySelector('#chat-message-submit').onclick = function (e) {
            e.preventDefault();

            const messageInputDom = document.querySelector('#chat-message');
            const message = messageInputDom.value

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));

            messageInputDom.value = '';

            return false;
        }

        //

        function scrollToBottom() {
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();
    </script>

{% endblock %}
{% endblock %}