body {
    font-family: Arial, sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    padding: 15px; /* Increased padding for a bigger navbar */
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px; /* Adjust the padding for buttons */
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s; /* Add transition for smooth hover effect */
}

.navbar .right-nav {
    text-align: right;
    display: flex;
}

.navbar .center-nav {
    display: flex;
}

.navbar .center-nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar .center-nav a:hover {
    background-color: #0056b3;
}

.navbar a:hover {
    background-color: #0056b3;
}

.search-box {
    display: flex;
}

.search-box input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-box button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-box button:hover {
    background-color: #0056b3;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.username {
    font-size: 24px;
    font-weight: bold;
}

.status {
    color: green;
}

.chat-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    overflow-y: auto;
}

.chat-messages {
    margin-bottom: 20px;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.message.received {
    background-color: #e6e6e6;
    align-self: flex-start;
}

.message.sent {
    background-color: #00a2ff;
    color: #fff;
    align-self: flex-end;
}

.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.message-input button {
    padding: 10px 20px;
    background-color: #00a2ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

