{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    {% block css %} {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="right-nav">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
    <div class="center-nav">
        <a href="#">Feed</a>
    </div>
    <div class="search-box">
        <input type="text" placeholder="Search">
        <button type="submit">Search</button>
    </div>
</div>

{% block content %} {% endblock %}

</body>
</html>