{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    {% block css %} {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="right-nav">
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">Logout</a>
            <a href="{% url 'blog:create_post' %}">Create Post</a>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
        {% endif %}
    </div>
    <div class="center-nav">
        <a href="{% url 'blog:feed' %}">Feed</a>
    </div>
    <div class="search-box">
        <form action="{% url 'blog:search' %}" method="get">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>
</div>

{% block content %} {% endblock %}
{% block scripts %} {% endblock %}
</body>
</html>