{% load static %}

{% block title %}
    <title>Reset Password</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/styles_for_reset_password.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Reset Password</h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                {{ form }}
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}