{% load static %}

{% block title %}
    <title>Password reset</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/styles_for_reset_password.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Password reset complete</h2>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <button class="profile-button" type="submit"><a href="{% url 'blog:feed' %}" class="no-underline">Main Page</a></button>
    </div>
{% endblock %}