{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/styles_for_reset_password.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Reset Password</h2>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new
            one.</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                {{ form }}
            </div>
        </form>
    </div>
{% endblock %}